.RowIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.Item {
  color: #666;
}

.RowContainer:hover {
  background-color: #f7f7f7;
}

.RowIcons {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 450px) {
  .RowIcon {
    height: 15px;
    width: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .RowIcon {
    height: 16px;
    width: 16px;
  }
}

@media only screen and (max-width: 950px) {
  .RowIcon {
    height: 17px;
    width: 17px;
  }
}

.RowText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 19px;
  font-weight: 500;
  user-select: text;
}

@media only screen and (max-width: 450px) {
  .RowText {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .RowText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 950px) {
  .RowText {
    font-size: 17px;
  }
}

.SongRow {
  height: 30px;
  padding: 5px;
  border-bottom: solid 1px #eaeaea;
  border-top: solid 1px #eaeaea;
}
